# .github/workflows/vcpkg-build.yml
name: Build

on:
  workflow_call:
    inputs:
      release:
        required: true
        type: string

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout main repo
        uses: actions/checkout@v4

      - name: Clone vcpkg
        run: git clone https://github.com/microsoft/vcpkg.git


#      - name: Get vcpkg manifest
#        run: |
#          curl -O https://raw.githubusercontent.com/maxtek6/WebFrame/master/vcpkg.json

      - name: Windows Install
        if: matrix.os == 'windows-latest'
        run: |
          vcpkg\bootstrap-vcpkg.bat
          vcpkg\vcpkg install --triplet x64-windows

      - name: Linux Install
        if: matrix.os == 'ubuntu-latest'
        run: |
          ${{github.workspace}}/.github/free_disk_space.sh
          sudo apt-get update
          sudo apt-get install -y autoconf autoconf-archive automake libtool libltdl-dev 
          sudo apt-get install -y '^libxcb.*-dev' libx11-xcb-dev libglu1-mesa-dev libxrender-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev libegl1-mesa-dev
          sudo apt-get install -y libsctp-dev libx11-dev libx11-xcb-dev libsm-dev libice-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-render-util0-dev
          sudo apt-get install -y libxcb-render0-dev libxcb-shape0-dev libxcb-shm0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev
          sudo apt-get install -y libxcb-xkb-dev libxkbcommon-dev libxkbcommon-x11-dev libdbus-1-dev
          ./vcpkg/bootstrap-vcpkg.sh
          ./vcpkg/vcpkg install --triplet x64-linux

      - name: Mac Install
        if: matrix.os == 'macos-latest'
        run: |
          find /Applications/Xcode_* -maxdepth 0 -type d ! -name 'Xcode_${{ env.XC_VERSION }}.app' -exec rm -rf {} \;
          brew install autoconf autoconf-archive automake libtool
          ./vcpkg/bootstrap-vcpkg.sh
          ./vcpkg/vcpkg install --triplet x64-osx

      - name: Package release
        if: matrix.os != 'windows-latest'
        uses: thedoctor0/zip-release@0.7.5
        with:
          directory: ${{ github.workspace }}/vcpkg
          filename: ${{ github.workspace }}/vcpkg-${{ matrix.os }}.zip

      - name: Package windows
        if: matrix.os == 'windows-latest'
        uses: thedoctor0/zip-release@0.7.5
        with:
          directory: ${{ github.workspace }}/vcpkg
          filename: ${{ github.workspace }}\vcpkg-${{ matrix.os }}.zip

      - name: Publish release
        if : matrix.os != 'windows-latest'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ inputs.release }}
          name: v${{ inputs.release }}
          files: ${{ github.workspace }}/vcpkg-${{ matrix.os }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish windows
        if : matrix.os == 'windows-latest'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ inputs.release }}
          name: v${{ inputs.release }}
          files: ${{ github.workspace }}\vcpkg-${{ matrix.os }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      