# .github/workflows/vcpkg-build.yml
name: Build

on:
  workflow_run:
    workflows: ["Trigger"]
    inputs:
      hash:
        required: true
      release:
        required: true
    types:
      - completed

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout main repo
        uses: actions/checkout@v4

      - name: Clone vcpkg
        run: git clone https://github.com/microsoft/vcpkg.git
          
      - name: Windows Install
        if: matrix.os == 'windows-latest'
        run: |
          vcpkg\bootstrap-vcpkg.bat
          vcpkg\vcpkg install --triplet x64-windows

      - name: Linux Install
        if: matrix.os == 'ubuntu-latest'
        run: |
          ${{github.workspace}}/.github/free_disk_space.sh
          sudo apt-get update
          sudo apt-get install -y autoconf autoconf-archive automake libtool libltdl-dev 
          sudo apt-get install -y '^libxcb.*-dev' libx11-xcb-dev libglu1-mesa-dev libxrender-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev libegl1-mesa-dev
          sudo apt-get install -y libsctp-dev libx11-dev libx11-xcb-dev libsm-dev libice-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-render-util0-dev
          sudo apt-get install -y libxcb-render0-dev libxcb-shape0-dev libxcb-shm0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev
          sudo apt-get install -y libxcb-xkb-dev libxkbcommon-dev libxkbcommon-x11-dev libdbus-1-dev
          ./vcpkg/bootstrap-vcpkg.sh
          ./vcpkg/vcpkg install --triplet x64-linux

      - name: Mac Install
        if: matrix.os == 'macos-latest'
        run: |
          df -h
          echo "Deleting all iOS simulators"
          xcrun simctl delete all
          echo "Deleting iOS Simulator caches"
          sudo rm -rf ~/Library/Developer/CoreSimulator/Caches/*
          df -h
          brew install autoconf autoconf-archive automake libtool
          ./vcpkg/bootstrap-vcpkg.sh
          ./vcpkg/vcpkg install --triplet x64-osx

      - name: Package binaries
        uses: thedoctor0/zip-release@0.7.5
        with:
          path: ${{ github.workspace }}/vcpkg
          destination: ${{ github.workspace }}/vcpkg-${{ github.event.inputs.release }}-${{ matrix.os }}.zip

      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: vcpkg-${{ matrix.os }}-${{ github.event.inputs.release }}
          path: ${{ github.workspace }}/vcpkg-${{ github.event.inputs.release }}-${{ matrix.os }}.zip
